@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

ul#chords {
  display: flex;
  padding: 10px;
  gap: 10px 0;
  flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

div#control-bar {
  display: grid;
  gap: 10px;
}

audio {
  width: -webkit-fill-available;
}

div#transpose-bar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 9px;
  align-items: center;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  height: 180px;
  position: sticky;
  top: 0;
  gap: 30px;
  background: white;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  box-shadow: 1px 1px 10px;
  align-items: center;
}

button {
  font-size: 16px;
  background: var(--c1);
  color: white;
  height: 30px;
  padding: 0 12px;
  cursor: pointer;
  font-weight: 900;
  border-radius: 5px;
  border: none;
}

#chord-diagram-current,
#chord-diagram-next {
  height: 150px;
}

#chord-diagram-next,
#chord-next {
  opacity: 0.6;
}

.chord-diagram-bar {
  max-height: 150px;
  display: flex;
  align-items: flex-end;
  width: 150px;
}

:root {
  --c1: #8197d0;
  --c2: #aebce0;
  --c3: #294ca2;
  --light: #f1f5ff;
}

ul#chords li {
  list-style: none;
  background: var(--c1);
  padding: 3px 10px;
  font-size: 21px;
  border-right: 3px solid var(--c2);
  cursor: pointer;
}

body {
  margin: 0;
  background: var(--c2);
  color: var(--c3);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

/* Keyframes for the animation */
@keyframes slideBackground {
  from {
    background-position: right;
  }
  to {
    background-position: left;
  }
}

ul#chords li.actived {
  background: white;
}

ul#chords li.active {
  background: linear-gradient(to right, rgb(255, 255, 255) 50%, var(--c1) 50%);
  background-size: 200% 100%;
  animation-name: slideBackground;
  --animation-duration: 1s; /* Set a default value */
  animation-duration: var(--animation-duration);
  animation-timing-function: linear;
}

/* type="radio" like button */
input[type="radio"] {
  display: none;
}

/* type="radio" like button */
input[type="radio"] + label {
  text-align: center;
  font-size: 22px;
  height: 30px;
  padding: 0 12px;
  display: inline-block;
  background: var(--light);
  color: var(--c1);
  border-radius: 5px;
  cursor: pointer;
  /* text align vartical inside a label */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* type="radio" like button */
input[type="radio"]:checked + label {
  color: white;
  background: var(--c1);
}

/* type="radio" like button */
input[type="radio"] + label:hover {
  color: var(--c2);
  background: white;
}

/* type="radio" like button */
input[type="radio"]:checked + label:hover {
  color: white;
  background: var(--c1);
}

/* type="radio" like button */
input[type="radio"] + label:hover {
  color: var(--c2);
  background: white;
}
